.main {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  .aboutContainer {
    min-height: 400px;
    border: solid 1px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1146px;
    .leftDiv {
      width: calc(370 * 100% / 1146);
      border: solid 1px;
      .personalDiv {
        border: solid 1px;
        position: sticky;
        top: 15%;
        .container {
          display: block;
          height: 650px;
          padding: 24px 24px 34px 24px;
          text-align: center;
          .imageDiv {
            background: linear-gradient(90deg, #3c58e3 -15%, #c2ebff 58%, #5ab5e2 97%);
            border-radius: 30px;
            margin-bottom: 40px;
            width: 100%;
            height: 323px;
          }
          .name {
            border: solid 1px;
            margin-bottom: 8px;
          }
          .email {
            border: solid 1px;
            margin-bottom: 34px;
          }
          .socialLinks {
            display: flex;
            justify-content: center;
            border: solid 1px;
            gap: 10px;
            margin-bottom: 36px;
            .icons {
              width: 50px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              position: relative;
              box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
              border: 1px solid rgba(255, 255, 255, 0.1);
              color: #fff;
              transition: 0.5 s ease;
              &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                // z-index: -1;
                opacity: 0.1;
                background: linear-gradient(
                  120deg,
                  rgba(255, 255, 255, 0.5),
                  rgba(255, 255, 255, 0.1)
                );
                backdrop-filter: blur(40px);
              }
              &:hover {
                background: #ffffff;
                color: #0f0f0f;
              }
            }
          }
          .contactMe {
            width: 100%;
            transition: 0.3s;
            border-radius: 16px;
            font-size: 16px;
            font-weight: 500;
            padding: 12px 30px;
            background: #323232;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            &::after {
              background: linear-gradient(120deg, rgb(255 255 255 / 12%), rgb(255 255 255 / 1%));
              content: '';
              z-index: -1;
              border-radius: 30px;
            }
            &:hover {
              background: #fff;
              color: #323232;
            }
          }
        }
      }
    }
    .rightDiv {
      width: calc(692.8 * 100% / 1146);
      border: solid 1px;
      display: flex;
      flex-direction: column;
      gap: 85px;
      .aboutMe {
        display: flex;
        flex-direction: column;
        gap: 37px;
        // margin-bottom: 25px;
      }
      .exp {
        display: flex;
        flex-direction: column;
        gap: 22px;
        .title {
          font-weight: 500;
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 40px;
          .group {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
      }
    }
  }
}
