.main {
  .container {
    min-height: 400px;
    border: solid 1px white;
    // display: grid;
    gap: 1.4rem;
    grid-template-columns: repeat(4, 1fr);
    .card {
      background: #0f0f0f;
      height: 328px;
      width: 549px;
      border-radius: 30px;
      // border: solid 1px white;
      position: relative;
      transform: scale(0.6);
      &::before {
        border-radius: 30px;
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0.05)
        );
        opacity: 0.25;
      }
    }
    article {
      height: 50px;
      width: 50px;
      border: solid 1px white;
    }
    .first {
      position: sticky;
      top: 0px;
    }
  }
}
