@keyframes cardAnimation {
  0% {
    opacity: 0.25;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.main {
  font-family: "Inter", sans-serif;
  .container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1146px;
    width: 100%;
    .textDiv {
      width: calc(214 * 100% / 262);
      height: 58px;
      display: flex;
      justify-content: space-between;
      .texts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        .subHead {
          color: #bcbcbc;
          font-size: 12px;
          opacity: 0.5;
          text-transform: uppercase;
        }
        .title {
          font-size: 20px;
          color: #ffffff;
          font-weight: 500;
        }
      }
      .bottomImage {
        transition: 0.3s ease;
        opacity: 0.2;
        display: flex;
        align-items: center;
      }
    }

    section {
      padding-inline: 8px;
    }

    .topSection {
      // height: 324px;
      display: flex;
      gap: 24px;
      article {
        width: 100%;
      }
      .intro {
        min-height: 270px;
        width: 100%;
        border-radius: inherit;
        padding: 40px 30px;
        position: relative;
        padding: 50px 46px;
        display: flex;
        gap: calc(30 * 100% / 472);
        .imageDiv {
          // width: calc(190 * 100% / 472);
          aspect-ratio: 1;
          width: 190px;
          background: linear-gradient(
            90deg,
            #5b78f6 -15%,
            #c2ebff 58%,
            #5b78f6 97%
          );
          border-radius: 30px 0 30px 0;
        }
        .info {
          height: 150px;
          width: 192px;
          display: flex;
          flex-direction: column;
          .job {
            color: #bcbcbc;
            width: 100%;
            opacity: 0.7;
            font-size: 15px;
            letter-spacing: 0.3px;
            margin-bottom: 3px;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1.2;
          }
          .name {
            font-size: 34px;
            line-height: 1.2;
            color: #fff;
            font-weight: 500;
            margin-bottom: 12px;
          }
          .desc {
            letter-spacing: 0.3px;
            font-size: 15px;
            scroll-behavior: smooth;
            color: #9f9f9f;
          }
        }
        .bottomImage {
          position: absolute;
          transition: 0.3s ease;
          opacity: 0.2;
          display: flex;
          align-items: center;
          bottom: 40px;
          right: 40px;
        }
      }
      .secound {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .marquee {
          height: 53px;
          padding: 16px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-weight: 500;
          font-size: 18px;
          text-transform: uppercase;
          font-family: "Comic Sans MS", cursive, sans-serif;
        }
        .flex2 {
          width: 100%;
          height: 100%;
          display: flex;
          gap: 24px;
          .subCard {
            height: 100%;
            width: 100%;
            border-radius: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            .imageDiv {
              display: flex;
              justify-content: center;
              width: calc(226 * 100% / 274);
              height: 72px;
              overflow: hidden;
              .logo {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .midSection {
      display: flex;
      flex-direction: row;
      gap: 24px;
      article {
        height: 213px;
      }
      .cardContainer {
        height: 213px;
      }
      .third {
        width: 50%;
      }
      .fourth {
        width: 100%;
      }
      .fifth {
        width: 50%;
      }
      .subCard {
        width: 100%;
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        .imageDiv {
          display: flex;
          justify-content: center;
          width: calc(214 * 100% / 274);
          height: 77px;
          overflow: hidden;
          .logo {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
      .detailsDiv {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 20px;
        .details {
          position: relative;
          border-radius: 30px;
          text-align: center;
          flex: 1;
          padding: 42px 30px 42px 30px;
          display: flex;
          flex-direction: column;
          gap: 17px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.1;
            background: linear-gradient(
              120deg,
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.05)
            );
            border-radius: 30px;
          }
          .bigText {
            color: #ffffff;
            font-weight: 500;
            font-size: 34px;
            line-height: 1.2;
            letter-spacing: -1px;
          }
          .smallText {
            font-size: 12px;
            color: #bcbcbc;
            opacity: 0.5;
            margin: 0;
            text-transform: uppercase;
            line-height: 1.6;
          }
        }
      }
      .profile {
        width: 100%;
        border-radius: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        // padding: 24px;
        .logos {
          position: relative;
          width: calc(214 * 100% / 262);
          height: 94px;
          padding: 16px;
          border-radius: 30px;
          background: #0f0f0f;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          &::before {
            top: 0;
            left: 0;
            position: absolute;
            border-radius: 30px;
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            background: linear-gradient(
              120deg,
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0.05)
            );
            opacity: 0.1;
          }
          .icons {
            width: 62px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            color: #fff;
            transition: 0.5 s ease;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              // z-index: -1;
              opacity: 0.1;
              background: linear-gradient(
                120deg,
                rgba(255, 255, 255, 0.5),
                rgba(255, 255, 255, 0.1)
              );
              backdrop-filter: blur(40px);
            }
            &:hover {
              background: #ffffff;
              color: #0f0f0f;
            }
          }
        }
      }
    }

    // .card {
    //   background: #0f0f0f;
    //   // height: 328px;
    //   // width: 100%;
    //   border-radius: 30px;
    //   position: relative;
    //   // animation: cardAnimation 1.5s ease;
    //   &::before {
    //     border-radius: 30px;
    //     content: "";
    //     display: inline-block;
    //     height: 100%;
    //     width: 100%;
    //     background: linear-gradient(
    //       120deg,
    //       rgba(255, 255, 255, 0.3),
    //       rgba(255, 255, 255, 0.05)
    //     );
    //     opacity: 0.25;
    //   }
    // }
    // .visible {
    //   opacity: 1;
    //   transform: scale(1);
    // }
  }
}
